.donate {
  border-radius: 30px;
  background: $color-bg-white;
  padding: 56px 48px;
  display: flex;
  gap: 70px;
  align-items: center;
  margin-bottom: 150px;

  @media (max-width: 700px) {
    flex-direction: column;
    gap: 40px;
    padding: 20px;
  }

  &__left {
    width: 66%;
  }

  &__code {
    @media (max-width: 700px) {
      display: none !important;
    }
  }

  &__right {
    display: flex;
    align-items: end;
    gap: 25px;
    flex-direction: column;
  }

  &__btn {
    position: relative;
  }

  &__drone {
    position: absolute;
    top: -45px;
    left: -50px;
    z-index: 50;
  }
}
