.footer {
  border-radius: 30px;
  background: #fafafa;
  box-shadow: 0px 2px 14px 0px rgba(0, 0, 0, 0.05);
  overflow: hidden;
  margin-bottom: 160px;

  display: flex;
  gap: 40px;
  align-items: center;

  &__nav {
    display: flex;
    gap: 90px;
    align-items: center;
    margin-bottom: 45px;
  }

  &__text {
    display: flex;
    gap: 30px;
    justify-content: space-between;
    align-items: center;
  }

  &__item {
    color: #7d7f87;
    font-size: 18px;
    font-weight: 300;
    letter-spacing: 0.63px;
  }
}
