.for {
  display: flex;
  flex-direction: column;
  gap: 30px;
  margin-bottom: 150px;

  @media (max-width: 1350px) {
    margin-bottom: 100px;
  }
  @media (max-width: 600px) {
    margin-bottom: 50px;
  }

  &__list {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 20px;

    @media (max-width: 1350px) {
      grid-template-columns: repeat(2, 1fr);
    }
    @media (max-width: 900px) {
      grid-template-columns: repeat(1, 1fr);
    }
  }
  &__item {
    display: flex;
    align-items: center;
    padding: 21px 23px;
    gap: 22px;
    border-radius: 30px;
    background: #fff;
    width: 100%;
    border: 2px solid transparent;

    @media (max-width: 900px) {
      img {
        width: 129.709px;
        height: 88.438px;
      }
    }

    &-text {
      color: $color-text-main;
      font-size: 24px;
      font-weight: 300;
      letter-spacing: -0.12px;

      @media (max-width: 900px) {
        font-size: 17px;
      }
    }

    &--trans {
      flex-direction: column;
      background-color: transparent;
      border: 2px solid $color-text-tertiary;
    }
  }

  &__btn {
    @media (max-width: 900px) {
      width: 100%;
    }
  }
}
