.speakers {
  display: flex;
  flex-direction: column;
  gap: 65px;
  margin-bottom: 150px;

  &__top {
    display: flex;
    align-items: center;
    justify-content: space-between;

    @media (max-width: 1000px) {
      display: none;
    }
  }

  &__list {
    display: flex;
    align-items: center;
    gap: 20px;

    @media (max-width: 1000px) {
      .program__guest {
        display: none;
      }
    }
  }

  &__action {
    display: flex;
    flex-direction: column;
    gap: 25px;
  }
}
