$color-bg-grey: #f4f4f6;
$color-bg-white: #fafafa;

$color-pink: #fa0169;
$color-orange: #ff6610;

$gradient: linear-gradient($color-pink, $color-orange);

$color-text-main: #0c0d12;
$color-text-secondary: #7d7f87;
$color-text-tertiary: #acaeb8;
$color-text-white: #f7f8fc;

$color-link: #466bff;
