* {
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

@font-face {
  font-family: "eUkraine";
  src: url("../assets/fonts/e-Ukraine-Regular.woff2") format("woff2");
}

@import "./utils/vars.scss";
@import "./blocks/section.scss";
@import "./blocks/header.scss";
@import "./blocks/btn.scss";
@import "./blocks/hero.scss";
@import "./blocks/about.scss";
@import "./blocks/partners.scss";
@import "./blocks/for.scss";
@import "./blocks/program.scss";
@import "./blocks/speakers.scss";
@import "./blocks/donate.scss";
@import "./blocks/action.scss";
@import "./blocks/footer.scss";

body {
  background-color: $color-bg-grey;
  font-family: eUkraine, sans-serif;
}

.leaflet-control {
  display: none;
}
