* {
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

@font-face {
  font-family: "eUkraine";
  src: url("../assets/fonts/e-Ukraine-Regular.woff2") format("woff2");
}
.section {
  margin: 0 auto;
  max-width: 1300px;
}
.section__divider {
  display: flex;
  flex-direction: column;
  gap: 20px;
}
.section__title {
  color: #0c0d12;
  font-size: 40px;
  font-weight: 500;
  letter-spacing: -0.2px;
}
@media (max-width: 1250px) {
  .section__title {
    font-size: 24px;
  }
}
.section__subtitle {
  color: #7d7f87;
  font-size: 16px;
  font-weight: 300;
  line-height: 140%;
  letter-spacing: -0.08px;
}
@media (max-width: 1250px) {
  .section__subtitle {
    font-size: 9.5px;
  }
}
@media (max-width: 1350px) {
  .section {
    margin: 0 50px;
  }
}
@media (max-width: 600px) {
  .section {
    margin: 0 20px;
  }
}

.header {
  margin-top: 20px;
  margin-bottom: 40px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 100px;
  padding: 17px 30px;
  border-radius: 30px;
  background: #fafafa;
  box-shadow: 0px 2px 14px 0px rgba(0, 0, 0, 0.05);
}
@media (max-width: 1250px) {
  .header {
    height: 80px;
  }
}
@media (max-width: 900px) {
  .header__btn {
    display: none !important;
  }
}
.header__logo {
  max-height: 39px;
  max-width: 90px;
}
.header__logo-link {
  text-decoration: none;
}
.header__nav {
  display: flex;
  justify-content: space-between;
  gap: 60px;
  align-items: center;
}
.header__nav-link {
  color: #0c0d12;
  font-size: 16px;
  font-weight: 700;
  letter-spacing: 0.56px;
  cursor: pointer;
}
.header__nav-link:-webkit-any-link {
  text-decoration: none !important;
}
@media (max-width: 1250px) {
  .header__nav {
    gap: 20px;
    height: 80px;
  }
  .header__nav-link {
    font-size: 12px;
  }
}
@media (max-width: 900px) {
  .header__nav {
    display: none;
  }
}
.header__menu-btn {
  display: none;
}
@media (max-width: 900px) {
  .header__menu-btn {
    display: block;
    cursor: pointer;
  }
}

.btn {
  padding: 20px 30px;
  border-radius: 20px;
  background: linear-gradient(101deg, #fa0169 7.09%, #ff6610 107.62%);
  z-index: 1;
}
.btn__text {
  color: #f7f8fc;
  font-size: 18px;
  font-weight: 400;
  letter-spacing: 0.63px;
  text-transform: lowercase;
  cursor: pointer;
}
@media (max-width: 1150px) {
  .btn {
    padding: 15px 20px;
  }
  .btn__text {
    font-size: 14px;
  }
}

.btn__border {
  display: flex;
  height: 58px;
  padding: 20px 30px;
  justify-content: center;
  align-items: center;
  gap: 10px;
  border-radius: 20px;
  border: 2px solid #fa0169;
  cursor: pointer;
  color: #fa0169;
  width: max-content;
  transition: all 0.3s;
  position: relative;
  overflow: hidden;
  z-index: 1;
}
.btn__border--black {
  border: 2px solid #0c0d12 !important;
  color: #0c0d12 !important;
}
.btn__border--black::before {
  background: transparent !important;
}
@media (max-width: 1150px) {
  .btn__border {
    padding: 15px 20px;
    font-size: 14px;
  }
}
.btn__border:hover {
  color: #f7f8fc;
  border: 2px solid transparent;
}

.btn__border::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: linear-gradient(101deg, #fa0169 7.09%, #ff6610 107.62%);
  opacity: 0;
  transition: opacity 0.3s;
  z-index: -1;
}

.btn__border:hover::before {
  opacity: 1; /* Show the background gradient on hover */
}

.hero {
  display: flex;
  gap: 40px;
  margin-bottom: 150px;
}
@media (max-width: 1050px) {
  .hero {
    flex-direction: column;
    align-items: center;
    margin-bottom: 100px;
  }
}
@media (max-width: 600px) {
  .hero {
    margin-bottom: 50px;
  }
}
.hero__left {
  height: 500px;
  min-width: 420px;
  width: 420px;
  border-radius: 30px;
  background: #fafafa;
  padding-top: 29px;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  gap: 60px;
}
@media (max-width: 1350px) {
  .hero__left {
    min-width: 310px;
    padding-top: 20px;
    height: 370px;
    gap: 40px;
  }
}
@media (max-width: 1050px) {
  .hero__left {
    width: 100%;
    max-width: 100%;
  }
}
.hero__left-top {
  display: flex;
  flex-direction: column;
  gap: 25px;
  padding-left: 20px;
  padding-right: 20px;
}
@media (max-width: 1350px) {
  .hero__left-top {
    gap: 10px;
  }
  .hero__left-top img {
    height: 80px;
    width: 180px;
  }
}
.hero__left-heading {
  display: flex;
  align-items: end;
  gap: 18px;
  color: #0c0d12;
  font-size: 24px;
  font-weight: 300;
  letter-spacing: -0.12px;
}
@media (max-width: 1350px) {
  .hero__left-heading {
    font-size: 17px;
  }
}
.hero__left-subheading {
  color: #7d7f87;
  font-size: 16px;
  font-weight: 300;
  line-height: 151.7%;
  letter-spacing: -0.08px;
}
@media (max-width: 1350px) {
  .hero__left-subheading {
    font-size: 12px;
  }
}
.hero__left-bottom {
  display: flex;
  flex-direction: column;
  gap: 16px;
  height: 100%;
}
.hero__left-price {
  display: flex;
  justify-content: space-between;
  align-items: end;
  gap: 65px;
  padding-left: 20px;
  padding-right: 20px;
}
.hero__left-price-box {
  display: flex;
  gap: 10px;
  align-items: center;
}
.hero__left-price-value {
  color: #fa0169;
  font-size: 55px;
  font-weight: 700;
  line-height: 100.7%;
  letter-spacing: -0.275px;
}
@media (max-width: 1350px) {
  .hero__left-price-value {
    font-size: 40px;
  }
}
.hero__left-price-prev {
  color: #acaeb8;
  font-size: 12px;
  font-weight: 300;
  line-height: 100.7%;
  letter-spacing: 0.42px;
  text-decoration: line-through;
}
.hero__left-price-currency {
  color: #0c0d12;
  font-size: 30px;
  font-weight: 500;
  line-height: 100.7%;
  letter-spacing: 1.05px;
}
@media (max-width: 1350px) {
  .hero__left-price-currency {
    font-size: 22px;
  }
}
.hero__left-price-text {
  color: #acaeb8;
  font-size: 12px;
  font-weight: 300;
  line-height: 100.7%;
  letter-spacing: -0.06px;
}
@media (max-width: 1350px) {
  .hero__left-price-text {
    font-size: 8px;
  }
}
.hero__left-footer {
  height: 100%;
  background-color: #ff6610;
  display: flex;
  flex-direction: column;
}
.hero__left-map {
  min-width: 100%;
  max-height: 35px;
  object-fit: cover;
}
.hero__left-details {
  display: flex;
  padding: 10px 16px;
  justify-content: space-between;
  align-items: center;
  position: relative;
  height: 100%;
}
.hero__left-details-item {
  color: #f7f8fc;
}
.hero__left-details-item-title {
  font-size: 10px;
  font-weight: 500;
  letter-spacing: 0.05px;
}
@media (max-width: 1350px) {
  .hero__left-details-item-title {
    font-size: 7px;
  }
}
.hero__left-details-item-value {
  font-size: 18px;
  font-weight: 300;
  letter-spacing: 0.72px;
  text-transform: uppercase;
}
@media (max-width: 1350px) {
  .hero__left-details-item-value {
    font-size: 13px;
  }
}
.hero__left-details::before {
  content: "";
  position: absolute;
  width: 30px;
  height: 30px;
  background-color: #f4f4f6;
  border-radius: 50%;
  left: 0;
  top: 0;
  transform: translate(-50%, -50%);
}
@media (max-width: 1350px) {
  .hero__left-details::before {
    width: 22px;
    height: 22px;
  }
}
.hero__left-details::after {
  content: "";
  position: absolute;
  width: 30px;
  height: 30px;
  background-color: #f4f4f6;
  border-radius: 50%;
  right: 0;
  top: 0;
  transform: translate(50%, -50%);
}
@media (max-width: 1350px) {
  .hero__left-details::after {
    width: 22px;
    height: 22px;
  }
}
.hero__right {
  display: flex;
  flex-direction: column;
  gap: 20px;
  width: 100%;
}
@media (max-width: 1350px) {
  .hero__right {
    gap: 10px;
  }
}
.hero__right-list {
  display: flex;
  justify-content: space-between;
}
@media (max-width: 750px) {
  .hero__right-list {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(2, 1fr);
    gap: 20px;
    margin-bottom: 20px;
  }
}
.hero__right-item {
  display: flex;
  width: 200px;
  padding: 17px 16px 10px 16px;
  flex-direction: column;
  align-items: center;
  gap: 10px;
  border-radius: 30px;
  background: #fafafa;
}
@media (max-width: 1350px) {
  .hero__right-item {
    width: calc((100% - 30px) / 4);
    padding: 10px;
  }
}
@media (max-width: 750px) {
  .hero__right-item {
    width: 100%;
  }
}
.hero__right-name {
  color: #0c0d12;
  font-size: 16px;
  font-weight: 500;
  letter-spacing: -0.08px;
}
@media (max-width: 1350px) {
  .hero__right-name {
    font-size: 11px;
  }
}
.hero__right-details {
  color: #7d7f87;
  font-size: 10px;
  font-weight: 200;
  text-align: center;
}
@media (max-width: 1350px) {
  .hero__right-details {
    font-size: 7px;
  }
}
.hero__right-actions {
  width: 100%;
  border-radius: 30px;
  background-image: url("../../assets/images/hero-main.jpg");
  background-position: bottom -150px right 100px;
  background-size: cover;
  height: 280px;
  position: relative;
  overflow: hidden;
  display: flex;
  align-items: end;
  justify-content: center;
  gap: 40px;
  padding-bottom: 30px;
}
@media (max-width: 1350px) {
  .hero__right-actions {
    height: 180px;
    padding: 20px;
    align-items: center;
  }
}
@media (max-width: 750px) {
  .hero__right-actions {
    height: 100px;
    align-items: center;
    padding: 20px;
  }
}
@media (max-width: 550px) {
  .hero__right-actions {
    flex-direction: column;
    height: max-content;
  }
}
.hero__right-actions::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: linear-gradient(180deg, rgba(16, 16, 20, 0) -41.32%, #101014 100%);
}
.hero__btn {
  z-index: 1;
  display: flex;
  align-items: center;
  gap: 20px;
  text-decoration: none;
}

.about {
  display: flex;
  gap: 20px;
  margin-bottom: 150px;
}
@media (max-width: 1350px) {
  .about {
    flex-direction: column;
    margin-bottom: 100px;
  }
}
@media (max-width: 600px) {
  .about {
    margin-bottom: 50px;
  }
}
.about__title {
  width: 50%;
  margin-bottom: 36px;
}
@media (max-width: 1250px) {
  .about__title {
    width: 100%;
  }
}
.about__left {
  max-width: 83%;
}
@media (max-width: 1350px) {
  .about__left {
    max-width: 100%;
  }
}
.about__list {
  display: flex;
  align-items: center;
  gap: 90px;
  margin-bottom: 40px;
}
@media (max-width: 1250px) {
  .about__list {
    gap: 40px;
  }
}
@media (max-width: 600px) {
  .about__list {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(2, 1fr);
  }
}
.about__list-item {
  display: flex;
  flex-direction: column;
  gap: 8px;
}
.about__list-item-title {
  background-image: linear-gradient(180deg, #fa0169 0%, #ff6610 100%);
  -webkit-background-clip: text;
  background-clip: text;
  color: transparent;
  font-size: 18px;
  font-weight: 500;
  line-height: 130.7%;
  letter-spacing: -0.09px;
}
.about__list-item-title--row {
  display: flex;
  gap: 7px;
  align-items: center;
}
@media (max-width: 1250px) {
  .about__list-item-title {
    font-size: 10px;
  }
}
.about__list-item-title-num {
  font-size: 50px;
}
@media (max-width: 1250px) {
  .about__list-item-title-num {
    font-size: 30px;
  }
}
.about__list-item-subtitle {
  color: #7d7f87;
  font-size: 16px;
  font-weight: 300;
  line-height: 140%;
  letter-spacing: -0.08px;
}
@media (max-width: 1250px) {
  .about__list-item-subtitle {
    font-size: 9.5px;
  }
}
.about__map {
  height: 107px;
  border-radius: 30px;
  background: #fff;
  overflow: hidden;
}
.about__right {
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-direction: column;
  min-height: 100%;
}
@media (max-width: 1350px) {
  .about__right {
    flex-direction: row;
  }
}
.about__organizers {
  display: flex;
  flex-direction: column;
  gap: 20px;
  align-items: center;
  color: #7d7f87;
}
@media (max-width: 600px) {
  .about__organizers img {
    width: 50px;
    height: 50px;
  }
}
.about__organizers-title {
  font-size: 14px;
  font-weight: 300;
  line-height: 100.7%;
  letter-spacing: -0.072px;
}
@media (max-width: 600px) {
  .about__organizers-title {
    font-size: 9.5px;
  }
}
.about__organizers-box {
  display: flex;
  gap: 18px;
  align-items: center;
}
.about__organizer {
  display: flex;
  gap: 10px;
  flex-direction: column;
  align-items: center;
}
.about__organizer-name {
  width: max-content;
  font-size: 12px;
}
@media (max-width: 600px) {
  .about__organizer-name {
    font-size: 9.5px;
  }
}
.about__donate {
  width: 200px;
  height: 171px;
  border-radius: 30px;
  background: #fff;
  display: flex;
  justify-content: center;
  flex-direction: column;
  gap: 5px;
  padding-left: 15px;
  position: relative;
  overflow: hidden;
}
@media (max-width: 600px) {
  .about__donate {
    width: 160px;
    height: 160px;
  }
}
@media (max-width: 400px) {
  .about__donate {
    width: 130px;
    height: 130px;
  }
}
.about__donate-value {
  background-image: linear-gradient(180deg, #fa0169 0%, #ff6610 100%);
  -webkit-background-clip: text;
  background-clip: text;
  color: transparent;
  overflow: hidden;
  font-size: 49px;
  font-weight: 500;
  letter-spacing: -0.244px;
}
@media (max-width: 600px) {
  .about__donate-value {
    font-size: 32px;
  }
}
.about__donate-text {
  color: #7d7f87;
  font-size: 16px;
  font-weight: 300;
  line-height: 140%;
  letter-spacing: -0.08px;
}
@media (max-width: 600px) {
  .about__donate-text {
    font-size: 10.5px;
  }
}
.about__donate::before {
  position: absolute;
  content: "";
  top: 0;
  right: 0;
  width: 60px;
  height: 60px;
  border-radius: 50%;
  background-color: #fa0169;
  transform: translate(30%, -30%);
}
.about__map {
  display: flex;
  gap: 20px;
}
.about__map-data {
  margin-top: 15px;
  display: flex;
  gap: 30px;
  align-items: center;
}
@media (max-width: 550px) {
  .about__map-data {
    gap: 10px;
  }
}
.about__map-text {
  display: flex;
  flex-direction: column;
  gap: 8px;
}
.about__map-title {
  color: #0c0d12;
  font-size: 40px;
  font-weight: 500;
  letter-spacing: -0.2px;
}
@media (max-width: 1250px) {
  .about__map-title {
    font-size: 16px;
  }
}
.about__map-link {
  display: flex;
  gap: 10px;
  align-items: center;
  color: #466bff;
  font-size: 16px;
  font-weight: 300;
  line-height: 140%;
  letter-spacing: -0.08px;
  text-decoration-line: underline;
}
@media (max-width: 1250px) {
  .about__map-link {
    gap: 5px;
    font-size: 7px;
  }
  .about__map-link svg {
    display: none;
  }
}
.about__map-detail {
  margin-bottom: 5px;
  color: #0c0d12;
  font-size: 10px;
  font-weight: 500;
  letter-spacing: 0.05px;
}
@media (max-width: 1250px) {
  .about__map-detail {
    font-size: 8px;
  }
}
.about__map-val {
  color: #0c0d12;
  font-size: 18px;
  font-weight: 300;
  letter-spacing: 0.72px;
  text-transform: uppercase;
  margin-right: 10px;
}
@media (max-width: 1250px) {
  .about__map-val {
    font-size: 13px;
  }
}

.partners {
  display: flex;
  flex-direction: column;
  gap: 35px;
  margin-bottom: 135px;
}
@media (max-width: 1350px) {
  .partners {
    margin-bottom: 100px;
  }
}
@media (max-width: 600px) {
  .partners {
    margin-bottom: 50px;
  }
}
.partners__list {
  display: flex;
  align-items: center;
  gap: 40px;
}

.for {
  display: flex;
  flex-direction: column;
  gap: 30px;
  margin-bottom: 150px;
}
@media (max-width: 1350px) {
  .for {
    margin-bottom: 100px;
  }
}
@media (max-width: 600px) {
  .for {
    margin-bottom: 50px;
  }
}
.for__list {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 20px;
}
@media (max-width: 1350px) {
  .for__list {
    grid-template-columns: repeat(2, 1fr);
  }
}
@media (max-width: 900px) {
  .for__list {
    grid-template-columns: repeat(1, 1fr);
  }
}
.for__item {
  display: flex;
  align-items: center;
  padding: 21px 23px;
  gap: 22px;
  border-radius: 30px;
  background: #fff;
  width: 100%;
  border: 2px solid transparent;
}
@media (max-width: 900px) {
  .for__item img {
    width: 129.709px;
    height: 88.438px;
  }
}
.for__item-text {
  color: #0c0d12;
  font-size: 24px;
  font-weight: 300;
  letter-spacing: -0.12px;
}
@media (max-width: 900px) {
  .for__item-text {
    font-size: 17px;
  }
}
.for__item--trans {
  flex-direction: column;
  background-color: transparent;
  border: 2px solid #acaeb8;
}
@media (max-width: 900px) {
  .for__btn {
    width: 100%;
  }
}

.program {
  display: grid;
  grid-template-columns: 30% 1fr;
  gap: 50px;
  margin-bottom: 150px;
}
@media (max-width: 1350px) {
  .program {
    display: flex;
    flex-direction: column;
  }
}
.program__list {
  display: flex;
  flex-direction: column;
  gap: 20px;
}
@media (max-width: 1000px) {
  .program__list {
    display: none;
  }
}
.program__item {
  color: #0c0d12;
  width: 100%;
  height: 80px;
  border-radius: 29px;
  background: #fff;
  display: grid;
  grid-template-columns: max-content 1fr max-content;
  gap: 20px;
  grid-template-areas: "square text time";
  align-items: center;
  padding-right: 20px;
  cursor: pointer;
  transition: all 0.2s;
}
.program__item--open {
  height: 300px;
  padding: 28px;
  grid-template-rows: repeat(2, max-content);
  grid-template-columns: max-content 1fr 1fr max-content;
  grid-template-areas: "title . . time" "square text text .";
  row-gap: 24px;
  column-gap: 40px;
}
.program__item--open .program__header-title,
.program__item--open .program__name,
.program__item--open .program__desc {
  display: block;
  opacity: 1;
}
.program__item--open .program__text-sec--closed {
  display: none;
  opacity: 0;
}
.program__item--open .program__text-sec--open {
  display: block;
  opacity: 1;
}
.program__item--open .program__square {
  display: flex;
  flex-direction: column;
  gap: 11px;
  align-items: center;
  max-width: 200px;
  max-height: 200px;
  grid-area: square;
  transition: all 0.2s;
  padding: 17px 22px 10px 23px;
  border-radius: 30px;
  background: #fafafa;
}
.program__item--open .program__item-header img {
  display: none;
}
.program__item--open .program__guests {
  visibility: inherit;
  opacity: 1;
  transform: translate(0);
  transition: all 0.3s ease;
}
.program__item-header {
  display: flex;
  gap: 18px;
  align-items: center;
  width: 100%;
  grid-column: 1/-1;
}
.program__item-header-time {
  margin-left: auto;
  color: #acaeb8;
  font-size: 16px;
  font-weight: 300;
  letter-spacing: 0.56px;
}
.program__item-header-title {
  font-size: 24px;
  font-weight: 300;
  letter-spacing: -0.12px;
  margin-bottom: 14px;
}
.program__item-header-subtitle {
  color: #7d7f87;
  font-size: 16px;
  font-weight: 300;
  letter-spacing: -0.08px;
}
.program__header-title {
  grid-area: title;
  font-size: 24px;
  font-weight: 300;
  letter-spacing: -0.12px;
  transition: all 0.2s;
  display: none;
  opacity: 0;
}
.program__time {
  grid-area: time;
  color: #acaeb8;
  font-size: 16px;
  font-weight: 300;
  letter-spacing: 0.56px;
  transition: all 0.2s;
}
.program__square {
  max-width: 90px;
  max-height: 80px;
  border-radius: 29px;
  overflow: hidden;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: all 0.2s;
}
.program__square img {
  border-radius: 29px;
  object-fit: cover;
  object-position: bottom;
}
.program__name {
  font-size: 16px;
  font-weight: 500;
  letter-spacing: -0.08px;
  display: none;
  opacity: 0;
  transition: all 0.2s ease-out 0.2s;
}
.program__desc {
  color: #7d7f87;
  font-size: 10px;
  font-weight: 200;
  letter-spacing: -0.05px;
  text-align: center;
  display: none;
  opacity: 0;
  transition: all 0.2s ease-out 0.2s;
}
.program__text {
  grid-area: text;
  display: flex;
  flex-direction: column;
  gap: 15px;
  transition: opacity 0.2s 0.2s;
}
.program__text-main {
  font-size: 24px;
  font-weight: 300;
  letter-spacing: -0.12px;
  transition: all 0.2s ease-out 0.2s;
}
.program__text-sec {
  color: #7d7f87;
  font-size: 16px;
  font-weight: 300;
  letter-spacing: -0.08px;
  transition: all 0.2s ease-out 0.2s;
}
.program__text-sec--open {
  display: none;
  opacity: 0;
}
.program__break {
  text-align: center;
  color: #7d7f87;
  font-size: 16px;
  font-weight: 300;
  letter-spacing: -0.08px;
}
.program__guests {
  display: flex;
  align-items: center;
  justify-content: space-between;
  visibility: hidden;
  opacity: 0;
  grid-column: 1/-1;
  transform: translateY(-100%);
  transition: transform 0.3s ease;
  transition-delay: 250ms;
}
.program__guest {
  min-width: 185px;
  width: 185px;
  height: 185px;
  border-radius: 30px;
  background: #fafafa;
  padding: 8px 5px;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 8px;
}
.program__guest-lable {
  bottom: 0;
  right: 50%;
  position: absolute;
  padding: 4px 14px;
  border-radius: 33px;
  background: #fff;
  transform: translate(50%, 30%);
  color: #7d7f87;
  font-size: 10px;
  font-weight: 200;
  letter-spacing: -0.05px;
}
.program__guest-img {
  position: relative;
}
.program__networking {
  display: flex;
  align-items: center;
  gap: 80px;
  border-radius: 30px;
  border: 1px solid #000;
  padding: 30px 60px;
  text-decoration: none;
}
.program__networking-left {
  display: flex;
  flex-direction: column;
  gap: 20px;
  align-items: center;
  width: 30%;
}
.program__networking-left-text {
  color: #7d7f87;
  font-size: 16px;
  font-weight: 300;
  letter-spacing: -0.08px;
}
.program__networking-right {
  display: flex;
  flex-direction: column;
  gap: 20px;
}
.program__networking-title {
  color: #0c0d12;
  font-size: 40px;
  font-weight: 500;
  letter-spacing: -0.2px;
}
.program__networking-subtitle {
  color: #7d7f87;
  font-size: 16px;
  font-weight: 300;
  letter-spacing: -0.08px;
}
.program__adaptive {
  display: flex;
  flex-direction: column;
  gap: 30px;
  display: none;
}
@media (max-width: 1000px) {
  .program__adaptive {
    display: flex;
  }
}
.program__adaptive-item {
  border-radius: 20px;
  background: #fff;
  gap: 13px;
  padding: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.program__adaptive-item-time {
  color: #0c0d12;
  font-size: 24px;
  font-weight: 300;
  letter-spacing: -0.12px;
}
.program__adaptive-item-box {
  background-color: #fafafa !important;
  width: max-content;
}
.program__adaptive-item-title {
  color: #0c0d12;
  font-size: 20px;
  font-weight: 300;
  letter-spacing: -0.12px;
  text-align: center;
}
.program__adaptive-item-subtitle {
  color: #7d7f87;
  font-size: 16px;
  font-weight: 300;
  letter-spacing: -0.08px;
}
.program__adaptive-networking {
  cursor: pointer;
  text-decoration: none;
  display: flex;
  align-items: center;
  gap: 15px;
  flex-direction: column;
  width: 100%;
  border-radius: 30px;
  border: 1px solid #000;
  padding: 30px;
}
.program__adaptive-networking-pdf {
  color: #7d7f87;
  font-size: 15.323px;
  font-weight: 300;
  letter-spacing: -0.077px;
}
.program__adaptive-networking-title {
  color: #0c0d12;
  font-size: 18.672px;
  font-weight: 500;
  letter-spacing: -0.093px;
  margin-bottom: 10px;
}
.program__adaptive-networking-subtitle {
  color: #7d7f87;
  font-size: 8.824px;
  font-weight: 300;
  letter-spacing: -0.044px;
}

.speakers {
  display: flex;
  flex-direction: column;
  gap: 65px;
  margin-bottom: 150px;
}
.speakers__top {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
@media (max-width: 1000px) {
  .speakers__top {
    display: none;
  }
}
.speakers__list {
  display: flex;
  align-items: center;
  gap: 20px;
}
@media (max-width: 1000px) {
  .speakers__list .program__guest {
    display: none;
  }
}
.speakers__action {
  display: flex;
  flex-direction: column;
  gap: 25px;
}

.donate {
  border-radius: 30px;
  background: #fafafa;
  padding: 56px 48px;
  display: flex;
  gap: 70px;
  align-items: center;
  margin-bottom: 150px;
}
@media (max-width: 700px) {
  .donate {
    flex-direction: column;
    gap: 40px;
    padding: 20px;
  }
}
.donate__left {
  width: 66%;
}
@media (max-width: 700px) {
  .donate__code {
    display: none !important;
  }
}
.donate__right {
  display: flex;
  align-items: end;
  gap: 25px;
  flex-direction: column;
}
.donate__btn {
  position: relative;
}
.donate__drone {
  position: absolute;
  top: -45px;
  left: -50px;
  z-index: 50;
}

.action {
  border-radius: 30px;
  border: 1px solid #7d7f87;
  background: #f4f4f6;
  padding: 23px 30px 23px 48px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 130px;
}
@media (max-width: 700px) {
  .action {
    flex-direction: column;
    padding: 30px;
    gap: 30px;
  }
}
.action__text {
  display: flex;
  flex-direction: column;
  gap: 10px;
  width: 50%;
}
@media (max-width: 700px) {
  .action__text {
    width: 100%;
    align-items: center;
  }
}
.action__title {
  color: #0c0d12;
  font-size: 24px;
  font-weight: 300;
  line-height: 120%;
  letter-spacing: -0.12px;
}
.action__subtitle {
  color: #7d7f87;
  font-size: 16px;
  font-weight: 300;
  letter-spacing: -0.08px;
}

.footer {
  border-radius: 30px;
  background: #fafafa;
  box-shadow: 0px 2px 14px 0px rgba(0, 0, 0, 0.05);
  overflow: hidden;
  margin-bottom: 160px;
  padding-right: 20px;
  display: flex;
  gap: 40px;
  align-items: center;
}
@media (max-width: 1050px) {
  .footer {
    padding: 20px;
  }
}
@media (max-width: 1050px) {
  .footer #map2 {
    display: none;
  }
}
.footer__nav {
  display: flex;
  gap: 90px;
  align-items: center;
  margin-bottom: 45px;
  justify-content: space-between;
}
@media (max-width: 1050px) {
  .footer__nav {
    display: none;
  }
}
.footer__text {
  display: flex;
  gap: 30px;
  justify-content: space-between;
  align-items: center;
}
@media (max-width: 1050px) {
  .footer__text {
    flex-direction: column;
    gap: 10px;
    align-items: start;
    margin-bottom: 10px;
  }
}
.footer__item {
  color: #7d7f87;
  font-size: 18px;
  font-weight: 300;
  letter-spacing: 0.63px;
}
@media (max-width: 1350px) {
  .footer__item {
    font-size: 11px;
  }
}
.footer__btn {
  display: none;
}
@media (max-width: 1050px) {
  .footer__btn {
    display: flex;
    margin-bottom: 25px;
  }
}
@media (max-width: 800px) {
  .footer__btn {
    width: 100%;
  }
}
.footer__wrap {
  width: 100%;
}

.menu {
  visibility: hidden;
  position: fixed;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  transform: translateX(100%);
  transition: all 0.3s;
  display: flex;
  flex-direction: column;
  gap: 40px;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #fafafa;
  z-index: 999;
}
.menu .header__nav-link {
  font-size: 20px;
}
.menu--open {
  visibility: unset;
  transform: translateX(0);
}
.menu__list {
  display: flex;
  flex-direction: column;
  gap: 30px;
  align-items: center;
}
.menu__icon {
  position: absolute;
  top: 20px;
  right: 20px;
  cursor: pointer;
}

body {
  background-color: #f4f4f6;
  font-family: eUkraine, sans-serif;
}

.leaflet-control {
  display: none;
}

/*# sourceMappingURL=style.css.map */
